@model List<MS2.Data.Entities.Order>

<h1 id="header">ORDERS FOR @ViewData["Period"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order #</th>
            <th>Date</th>
            <th>Status</th>
            <th>Products</th>
            <th>Total Price</th>
            <th>Type</th>
            <th>Delivery Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MS2.Data.Entities.Order item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @foreach (MS2.Data.Entities.OrderEntry entry in item.Items)
                    {
                        <p>@entry.Quantity x @entry.Size @entry.Product.ItemName (@entry.EntryPrice.ToString("c"))</p>
                    }
                </td>
                <td>
                    @item.Price.ToString("c")
                </td>
                <td>
                    @item.OrderType
                </td>
                <td>
                    @item.DeliveryAddress
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    #header
    {
        margin-bottom: 1em;
    }
</style>