@model IEnumerable<MS2.Data.Entities.Product>

@{
    ViewData["Title"] = "Menu";
}

<h1 class="menu-header">@ViewData["Title"]</h1>

<div>
    @foreach (IGrouping<string, MS2.Data.Entities.Product> ig in Model.GroupBy(p => p.Category).OrderByDescending(ig => ig.FirstOrDefault().Category))
            {
                <a href="#menu-item-header-@ig.FirstOrDefault().Category" class="btn-info jump-to-category">@ig.FirstOrDefault().Category</a>
            }
    </div>

<table class="table">
    @foreach (IGrouping<string, MS2.Data.Entities.Product> ig in Model.GroupBy(p => p.Category).OrderByDescending(ig => ig.FirstOrDefault().Category))
    {
        <tr>
            <td id="menu-item-header-@ig.FirstOrDefault().Category"><h2>@ig.FirstOrDefault().Category</h2></td>
        </tr>
        @foreach (MS2.Data.Entities.Product pr in ig)
        {
            <tr>
                <td><img src="~/img/@(pr.ItemName).jpg" class="img-fluid" alt="@pr.ItemName" width="100" height="100" /></td>
                <td><h3>@pr.ItemName</h3></td>
                @if (pr.LargePrice > 0)
                {
                    <td><h4>Small: @pr.SmallPrice.ToString("c"), Medium: @pr.MediumPrice.ToString("c"), Large: @pr.LargePrice.ToString("c")</h4></td>
                }
                else if (pr.MediumPrice < 0)
                {
                    <td><h4>Small: @pr.SmallPrice.ToString("c"), Medium: @pr.MediumPrice.ToString("c")</h4></td>
                }
                else
                {
                    <td><h4>Small: @pr.SmallPrice.ToString("c")</h4></td>
                }

            <td>
                @using (Html.BeginForm())
                {
                    <input type="text" name="productID" value="@pr.Id" hidden />
                    @if ((ViewData["favs"] as List<MS2.Data.Entities.Favourite>).Where(f => int.Parse(f.ProductId) == pr.Id).Count() > 0)
                    {
                        <input type="submit" value="UNFAVORITE" />
                    }
                    else
                    {
                        <input type="submit" value="FAVORITE" />
                    }
                }
            </td>
            </tr>
        }
    }
</table>

<style>
    .menu-header {
        margin-top: 120px;
    }

    .jump-to-category
    {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
</style>
