@model IEnumerable<MS2.Data.Entities.Product>

@{
    ViewData["Title"] = "Order";
}

<h1 class="order-header">Order</h1>
<div>
    @foreach (IGrouping<string, MS2.Data.Entities.Product> ig in Model.GroupBy(p => p.Category).OrderByDescending(ig => ig.FirstOrDefault().Category))
    {
        <a href="#menu-item-header-@ig.FirstOrDefault().Category" class="btn-info jump-to-category">@ig.FirstOrDefault().Category</a>
    }
</div>

<table class="table">
    @foreach (IGrouping<string, MS2.Data.Entities.Product> ig in Model.GroupBy(p => p.Category).OrderByDescending(ig => ig.FirstOrDefault().Category))
    {
        <tr>
            <td id="menu-item-header-@ig.FirstOrDefault().Category"><h2 id="menu-item-header-@ig.FirstOrDefault()Category">@ig.FirstOrDefault().Category</h2></td>
        </tr>
        int groupNumber = 0;
        @foreach (MS2.Data.Entities.Product pr in ig)
        {
            <tr>
                <td><img src="~/img/@(pr.ItemName).jpg" class="img-fluid" alt="@pr.ItemName" width="100" height="100" /></td>
                <td><h3>@pr.ItemName</h3></td>
                <td><h4>From @pr.SmallPrice.ToString("c")</h4></td>
               
                <td class="selection-options">
                    <select name="size-@groupNumber" class="size-selection">
                        <option value="" selected disabled hidden>Choose Size</option>
                        @if(pr.LargePrice > 0)
                         {
                            <option value="Small">Small</option>
                         }
                        @if (pr.MediumPrice > 0)
                         {
                            <option value="Medium">Medium</option>
                         }
                        @if(pr.SmallPrice > 0)
                         {
                           <option value="Large">Large</option>
                         }
                    </select>
                    <button class="btn btn-success addToOrder" data-id="@pr.Id">Add To Order</button>
                </td>
            </tr>
            groupNumber++;
        }
    }
</table>
<script type="module" src="~/js/cartLogic.js" ></script>

<style>
    .order-header {
        margin-top: 120px;
    }

    .selection-options{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .jump-to-category {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 10px;
    }
</style>
